.card_box {
    background-color: #3A3A3A;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
}

.job_title {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.job_date_text {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 5px;
}

.job_code {
    display: flex;

}

.job_stack {
    width: 40px;
    height: auto;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job_stack_text {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #3A3A3A;
}

.job_exp_text {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
}

.job_desc {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.apply_now {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply_now_text {
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
padding: 6px 8px;
    color: #363636;
    border: 0px;
}
.apply_now_text :hover{
    font-size: 20px;
}

.link{
    text-decoration: none;
    color: #363636;
}